* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: hsl(206, 33%, 96%);;
}

#header {
    background-color: #fff;
    height: 3rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


#nav {
    width: 620px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 3rem;
}

#nav .text-header {
    color: hsl(205, 78%, 60%);
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: 700;
}

#nav li{
    display: inline-block;
}

#nav a {
    color: hsl(205, 86%, 17%);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
    padding-right: 8px;
}

#nav li:hover a {
    color: hsl(205, 78%, 60%);
}

#content {
    min-height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-content {
    color: #fff;
    background-color: #222;
    font-size: 2.5rem;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 0.5rem;
}

.color {
    color: hsl(205, 78%, 60%);
}

.change-btn {
    display: inline-block;
    margin-top: 40px;
    color: #222;
    border: 2px solid #222;
    background-color: hsl(206, 33%, 96%);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 12px 20px;
    font-weight: 700;
    border-radius: 0.5rem;
}

.change-btn:hover {
    color: #fff;
    background-color: #222;
}