@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    height: 100vh;
    background: url(hero.jpeg) top center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    width: 620px;
    background-color: #fff;
    text-align: center;
    padding: 64px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    letter-spacing: 0.25rem;

}

h1 {
    color: #102A42;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.25rem;
    font-weight: bold;
}

button {
    margin-top: 3rem;
    font-size: 0.875;
    padding: 6px 12px;
    background-color: #49A6E9;
    color: #fff;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    border: 2px solid #49A6E9;
    border-radius: 0.5rem;
}

button:hover {
    color: #49A6E9;
    background-color: #fff;
    cursor: pointer;
}

.modal {
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(73, 166, 233, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    z-index: -1;
}

.modal.active {
    z-index: 0;
}

.container {
    background-color: #fff;
    width: 620px;
    min-height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    letter-spacing: 0.25rem;
    position: relative;
}

.close-btn {
    font-size: 1.9rem;
    color: #bb2525;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 12px;
    transition:  all 0.3s linear;
}

.close-btn:hover {
    opacity: 0.8;
    transform: scale(1.3);
    cursor: pointer;
}

h3 {
    color: #102A42;
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 800px) {
    h1 {
      font-size: 48px;
    }
    h3 {
        font-size: 20px;
    }
}